.page {
  &__title {
    display: inline-block;
    line-height: 1.2;
    position: relative;

    &:after {
      background-color: $color-pink-secondary;
      content: '';
      display: block;
      height: .5em;
      left: 1.5rem;
      position: absolute;
      top: 60%;
      width: 100%;
      z-index: 1;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &--section {
      position: relative;

      span {
        background-color: #fff;
        padding: 0 1rem 0 0;
        position: relative;
        z-index: 1;
      }

      &:before {
        background-color: $border-color;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }
  }
}