.post {
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;

  @include media("≥tablet", "<desktop") {
    padding: 0 20px;
  }

  @include media("≥widescreen") {
    padding-top: 3rem;
  }

  &--is-preview {
    padding-bottom: 3rem;
    margin-bottom: 2rem;

    &:first-of-type {
      margin-top: 1.6em;
    }

    &:last-of-type {
      padding-bottom: 2rem;
      margin-bottom: 3rem;
    }

    .post__image {
      margin-top: 1rem;
    }

    .post__title {
      font-size: 2.4rem;

      @include media("≥tablet")  {
        font-size: 3.6rem;
      }

      a {
        -webkit-text-decoration-skip: ink;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .post__meta {
      font-size: 1.4rem;
    }

    .post__content p {
      font-size: 1.6rem;
      line-height: 1.8;
      margin-top: .8em;
    }

    &:after {
      background-color: #f7f7f7;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 1rem;
      position: absolute;
      width: calc(100% - 2rem);
    }
  }

  &__cover {
    margin-top: 1.5rem;
  }

  &__header {
    order: -1;
  }

  &__title {
    color: #323648;
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    line-height: 1.25;

    @include media("≥tablet")  {
      font-size: 4.2rem;
    }
  }

  &__meta {
    color: $caption-color;
    font-family: 'Georgia', serif;
    font-size: 1.2rem;
    font-weight: 300;

    @include media("≥tablet") {
      font-size: 1.4rem;
    }
  }

  &__author {
    font-style: normal;
    font-weight: 600;

    &:first-of-type:before {
      background-color: black;
      content: '';
      display: block;
      height: 2px;
      max-width: 100px;
      position: absolute;
      top: -0.8em;
      width: 10vw;
    }
  }

  &__share {
    left: 120px;
    position: absolute;
    width: 24px;

    &--sticky {
      position: fixed;
    }
  }

  &__content {
    font-size: 1.6rem;
    line-height: 1.8;

    @include media('>=tablet') {
      font-size: 1.8rem;
    }
  }

  &__footer {
    font-style: italic;
    margin-bottom: 1.6em;
    position: relative;
  }
}

.related-post {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-bottom: 3rem;

  &__spacer {
    height: 4rem;
  }

  &__content {
    background: #e1fefa;
    flex: 1;
    margin: -4rem 2rem 0 2rem;
    padding: 1.5rem 2rem 0 2rem;
    position: relative;
    z-index: 3;
  }

  &__meta {
    float: left;
    font-size: 1.2rem;
    margin: 0;
  }

  &__date {
    float: right;
    font-size: 1.2rem;
  }

  &__title {
    line-height: 1.2;
    margin-top: 1rem;
  }
}

.thumb {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 2;
}