.event {
  &__section {
    border-bottom: 1px solid $border-color;
    padding-bottom: 1.5rem;
    position: relative;

    @include media(">=tablet") {
      padding: 0;
    }

    &:last-of-type {
      border: 0;
    }
  }

  &__content {
    border: none;

  @include media(">=tablet") {
      border-left: 1px solid $border-color;
      padding: 2.5rem 5rem;
    }
  }

  &__date {
    font-family: $font-sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1;

    div {
      font-size: 2.4rem;
    }

    @include media(">=tablet") {
      padding-top: 2.5rem;
    }
  }

  &__meta {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1rem 0;
    }
  }
}