.event {
  &__section {
    padding-top: 3rem;
    position: relative;

    @include media(">=tablet") {
      margin: 0 1rem;
      padding: 0;
    }

    &:after {
      background-color: $border-color;
      content: '';
      display: block;
      height: 1px;
      margin: 1.5rem auto 0 auto;
      width: calc(100% - 1rem);

      @include media(">=tablet") {
        margin: 0 auto;
        width: 83.3333333333%;
      }
    }

    &:last-of-type:after {
      background-color: transparent;
    }
  }

  &__content {
    border: none;

    @include media(">=tablet") {
      border-left: 1px solid $border-color;
      padding: 2.5rem 5rem;
    }
  }

  &__date {
    color: $color-grey-primary;
    font-family: $font-sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1;

    div {
      color: $color-black;
      font-size: 2.4rem;
    }

    @include media(">=tablet") {
      padding-top: 2.5rem;
    }
  }

  &__meta {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1rem 0;
    }
  }
}