// renave and cleanup
.event {
  &__section {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 1.5rem;
    position: relative;

    // &:after {
    //   background-color: #dcdcdc;
    //   content: '';
    //   display: block;
    //   height: 1px;
    //   margin: 0 auto;
    //   width: calc(100% - .5rem);

    //   @include media('>=tablet') {
    //     width: calc(83.3333333333% - 1rem);
    //   }
    // }

    @include media(">=tablet") {
      padding: 0;
    }

    // &:last-of-type:after {
    //   display: none;
    // }
  }

  &__content {
    border: none;

  @include media(">=tablet") {
      border-left: 1px solid #dcdcdc;
      padding: 2.5rem 5rem;
    }
  }

  &__date {
    // align-items: center;
    font-family: $font-sans-serif;
    display: flex;
    height: 100%;

    @include media(">=tablet") {
      font-size: 1.6rem;
      padding-top: 2.5rem;
    }
  }

  &__meta {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1rem 0;
    }
  }
}