<div class="grid__row event__section sr-up">
  <div class="grid__col grid__col--tablet-2 grid__col--tablet-offset-1 event__date">
    {% if event.starts_at %}
    <svg class="icon icon--32x32"><use xlink:href="#icon-date"></use></svg><span><time datetime="{{ event.starts_at }}">{{ event.starts_at | date: "%d/%-m" }}</time></span>
    {% elsif event.ends_at %}
    <svg class="icon icon--32x32"><use xlink:href="#icon-date"></use></svg><span><time datetime="{{ event.ends_at }}">{{ event.ends_at | date: "%d/%-m" }}</time></span>
    {% endif %}
  </div>
  <div class="grid__col grid__col--tablet-8 event__content">
    <h3>{{ event.title }}</h3>
    {% assign word_count = event.content  | number_of_words %}
    {% if word_count > 40 %}
    {{ event.content | truncatewords: 20 }}
    <p><a class="button button__primary" href="{{ event.url }}"><span>Läs mer</span></a></p>
    {% else %}
    {{ event.content }}
    {% endif %}
    <ul class="list">
      {% if event.location %}
      <li class="list__item"><svg class="icon icon--24x24"><use xlink:href="#icon-explore"></use></svg><span>{{ event.location }}</span></li>
      {% endif %}
      {% if event.starts_at %}
      <li class="list__item"><svg class="icon icon--24x24"><use xlink:href="#icon-time"></use></svg><span><time>{{ event.starts_at | date: "%R" }}{% if event.ends_at %}-{{ event.ends_at | date: "%R" }}{% endif %}</time></span></li>
      {% elsif event.ends_at %}
      <li class="list__item"><svg class="icon icon--24x24"><use xlink:href="#icon-time"></use></svg><span><time>{{ event.ends_at | date: "%R" }}</time></span></li>
      {% endif %}
      {% if event.accessibility.has_audio %}
      <li class="list__item"><svg class="icon icon--24x24"><use xlink:href="#icon-headset"></use></svg><span>Hörslinga</span></li>
      {% endif %}
      {% if event.accessibility.has_wheelchair %}
      <li class="list__item"><svg class="icon icon--24x24"><use xlink:href="#icon-wheelchair"></use></svg><span>Rullstolsanpassad</span></li>
      {% endif %}
    </ul>
  </div>
</div>