<footer class="footer">
  <div class="grid grid__container">
    <div class="grid__row">
      <div class="grid__col grid__col--tablet-12">
        <hr class="hr hr--pink">
      </div>
    </div>
    <div class="grid__row">
      <div class="grid__col grid__col--tablet-12">
        <nav class="footer-nav">
          <ul class="list">
            {% for item in site.data.navigation.footer1 %}
            <li class="">
              <a class="link-highlight" href="{{item.url}}"><span>{{item.title}}</span></a>
            </li>
            {% endfor %}
          </ul>
          <ul class="list">
            {% for item in site.data.navigation.footer2 %}
            <li class="">
              <a class="link-highlight" href="{{item.url}}"><span>{{item.title}}</span></a>
            </li>
            {% endfor %}
          </ul>
          <ul class="list">
            {% for item in site.data.navigation.footer3 %}
            <li class="">
              <a class="link-highlight" href="{{item.url}}"><span>{{item.title}}</span></a>
            </li>
            {% endfor %}
          </ul>
          <p class="footer__address">
            <span>Feministiskt initiativ Gotland</span>
            <span>Söderväg 1</span>
            <span>621 58 Visby</span>
          </p>
        </nav>
      </div>
    </div>
  </div>
</footer>