<footer class="footer">
  <div class="grid grid__container">
    <div class="grid__row">
      <div class="grid__col grid__col--tablet-6 grid__col--tablet-offset-1">
        <img class="footer__logo" src="/assets/fi-symbol-alt.svg">
      </div>
    </div>
    <div class="grid__row">
      <div class="grid__col grid__col--tablet-6 grid__col--tablet-offset-4">
        <nav class="sub-nav">
          <p class="footer__address">
            <span>Söderväg 1</span>
            <span>621 58 Visby</span>
          </p>
          <ul class="list">
            {% for item in site.data.navigation.footer1 %}
            <li class="">
              <a class="link-highlight" href="{{item.url}}"><span>{{item.title}}</span></a>
            </li>
            {% endfor %}
          </ul>
          <ul class="list">
            {% for item in site.data.navigation.footer2 %}
            <li class="">
              <a class="link-highlight" href="{{item.url}}"><span>{{item.title}}</span></a>
            </li>
            {% endfor %}
          </ul>
          <ul class="list">
            {% for item in site.data.navigation.footer3 %}
            <li class="">
              <a class="link-highlight" href="{{item.url}}"><span>{{item.title}}</span></a>
            </li>
            {% endfor %}
          </ul>
          <!-- <img src="/assets/fi-symbol.svg"> -->
        </nav>
          <li><svg class="icon"><use xlink:href="#icon-facebook"></use></svg><a class="sidebar__link link-highlight" href="{{asset.file}}" target="_blank"><span>{{asset.caption}}</span></a></li>
          <li><svg class="icon"><use xlink:href="#icon-instagram"></use></svg><a class="sidebar__link link-highlight" href="{{asset.file}}" target="_blank"><span>{{asset.caption}}</span></a></li>
          <li><svg class="icon"><use xlink:href="#icon-twitter"></use></svg><a class="sidebar__link link-highlight" href="{{asset.file}}" target="_blank"><span>{{asset.caption}}</span></a></li>
      </div>
    </div>
  </div>
</footer>