<aside class="sidebar sr-left">
  <ul class="list">
    <li>Relaterat:</li>
    {% for asset in page.assets %}
    {% if asset.file contains '.pdf' %}
    <li><svg class="icon"><use xlink:href="#icon-attachment"></use></svg><a class="sidebar__link link-highlight" href="{{asset.file}}" target="_blank"><span>{{asset.caption}}</span></a></li>
    {% elsif asset.file contains 'http' or asset.file contains 'https' %}
    <li><svg class="icon"><use xlink:href="#icon-link"></use></svg><a class="sidebar__link link-highlight" href="{{asset.file}}" target="_blank"><span>{{asset.caption}}</span></a></li>
    {% else %}
    <li><a class="sidebar__link link-highlight" href="{{asset.file}}" target="_blank"><span>{{asset.caption}}</span></a></li>
    {% endif %}
    {% endfor %}
  </ul>
</aside>