
.accordion {
  border: 1px solid $primary-pink;
  border-width: 1px 0;
  margin-bottom: 40px;
  position: relative;

  &:before {
    color: $primary-pink;
    content: '+';
    display: block;
    font-family: $font-serif;
    font-size: 2.2rem;
    position: absolute;
    right: 0;
    top: 8px;
  }

  &__title {
    display: block;
    font-family: $font-serif;
    font-size: 1.6rem;
    padding: 1.5rem 0;
  }

  &__content {
    animation-delay: 0ms;
    animation-duration: 0ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    position: static;
    transition: max-height 480ms ease;
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.75, 1.5);
    transition-delay: 120ms;

    p:first-of-type {
      margin-top: 0;
    }
  }
}

.accordion__content>* {
  transition: opacity 180ms ease;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.75, 1.5)
}

.accordion:not(.accordion--is-expanded) .accordion__content>* {
  opacity: 0;
}

.accordion+.accordion {
  margin-top: -41px;
}

.accordion--is-expanded {
  .accordion__content {
    animation-name: overflowVisible;
    animation-delay: 960ms;
    max-height: 100em;
    transition-delay: 240ms;
    transition-duration: 720ms;
  }
}

@keyframes overflowVisible {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}