.card {
  background-color: #fff;
  border-bottom: 1px solid;
  border-color: #dcdcdc;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  width: 100%;

  &:hover {
    .card__link:after {
      transform: none;
      transition: transform 0.65s 0.48s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .card__link .underline {
      transform: translateX(120%);
      transition: transform 0.65s 0s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__cover {

  }

  &__content {
    font-family: 'Roboto', sans-serif;
    padding: 1.6em 0;

    @include media("≥tablet") {
      padding: 0.75em;
    }

    &--big {
      @include media("≥tablet") {
        padding: 0.75em 0.75em 3em;
      }
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 1.5rem;
    padding-top: 1.4rem;
    position: relative;
    overflow-x: hidden;

    &:after {
      background-color: pink;
      bottom: 0;
      content: '';
      display: block;
      height: 1rem;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 1;

      transform: scaleX(0);
      transform-origin: 0 1px;
      transition: transform 0.65s 0s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {

      &:after {
        transform: none;
        transition: transform 0.65s 0.48s cubic-bezier(0.4, 0, 0.2, 1);
      }

      .underline {
        transform: translateX(120%);
        transition: transform 0.65s 0s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    span {
      display: inline-block;
      position: relative;
      z-index: 3;
    }

    .underline {
      background-color: pink;
      bottom: 0;
      display: inline-block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;

      transition: transform 0.65s 0.48s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__time {
    color: #424242;
    font-family: 'Roboto', sans-serif;
  }

  &__meta {
    color: #888;
    font-family: $font-sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.025em;
  }
}