 a {
  color: inherit;
  text-decoration: none;
}

.link-highlight {
  position: relative;

  &:before {
    background-color: $border-color;
    bottom: 0;
    content: '';
    display: block;
    height: .5em;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 0.65s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    &:before {
      transform: none;
    }
  }

  span {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  &--primary {
    &:before {
      background-color: $color-pink-primary;
    }
  }
}

.link-body {
  p a:not(.button) {
    border-bottom: 2px solid $link-color;
    transition: color .1s linear, border-color .1s linear;

    &:hover {
      color: $link-color;
      border-color: transparent;
    }
  }
}