ul {
  margin: 0 0 1.6em 0;
  padding: 0 3rem;
}

li {

}

ul li ul {
  margin: 0;
  padding: 0 2rem;
}

.list {
  list-style: 0;
  margin: 0;
  padding: 0;

  &__item {

  }
}

.tag-list {
  float: left;
  list-style: none;
  margin: 1.6em 1rem 0 0;
  padding: 0;

  &__item {
    background-color: $primary-pink;
    color: #fff;
    display: inline-block;
    padding: 0 1rem;
  }
}