.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;

  @include media("≥tablet") { display: flex; }

  &--is-vertical { flex-direction: column; }

  &--is-child { }

  &--is-parent {
    @include media("≥tablet") {
      padding: 0.75em;
    }
  }
}

.tile.tile--is-vertical > .tile.tile--is-child:not(:last-child) { margin-bottom: 3rem; }