---
layout: default
---

<div class="grid grid__container">
  {% if page.title %}
  <div class="grid__row">
    <div class="grid__col">
      <h2 class="page__title sr-left">{{ page.title }}</h2>
    </div>
  </div>
  {% endif %}

  <!-- {% assign collection = site.posts | group_by: "authors" %}

  {% for group in collection %}
  <h3>{{ group.name | date: "%-d %B %Y" }}</h3>
  <ul>
    {% for item in group.items %}
    <li>{{ item.data }}</li>
    {% endfor %}
  </ul>
  {% endfor %} -->

  <div class="grid__row">
   <div class="grid__col grid__col--tablet-8 grid__col--tablet-offset-1 grid__col--desktop-10 grid__col--widescreen-10">
      <ul class="archive__list">
        {% for post in site.posts %}
        {% assign month = post.date | date: '%B %Y' %}
        {% unless post.next %}
        <h3 class="archive__title">{% include archive_date.html %}</h3>
        {% else %}
        {% capture next_month %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
        {% if month != next_month %}
        <h3 class="archive__title">{% include archive_date.html %}</h3>
        {% endif %}
        {% endunless %}
        <li class="archive__item">
          <time class="post__meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d' }}</time>
          <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>