---
layout: default
---

{% include post.html post=page %}
<div class="grid grid__container">
  <article class="post">
    {% if post.image and post.video %}
    <div class="post__cover">
      <div class="grid__row">
        <div class="grid__col grid__col--tablet-12 grid__col--desktop-12 grid__col--widescreen-10 grid__col--widescreen-offset-1">
          <div class="video">
            {{ post.video }}
          </div>
        </div>
      </div>
    </div>
    {% elsif post.image contains '.jpg' %}
    <div class="post__cover">
      <div class="grid__row">
        <div class="grid__col grid__col--tablet-12 grid__col--desktop-12 grid__col--widescreen-10 grid__col--widescreen-offset-1">
          <div class="image-wrap">
            <div class="image-overlay"></div>
            <div class="image-reveal"></div>
            <img class="image" src="{{post.image}}" alt="{{post.title}}">
            {% if post.image_caption %}
            <div class="image-caption">{{ post.image_caption }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <header class="post__header sr-up">
      <div class="grid__row">
        <div class="grid__col grid__col--tablet-12 grid__col--desktop-12 grid__col--widescreen-8 grid__col--widescreen-offset-2">
          {% if post.title %}
            <h1 class="post__title">{{post.title}}</h1>
          {% endif %}
          <small class="post__meta">
            {% if post.date %}
            Publicerad <time datetime="{{ post.date | date_to_xmlschema }}">{% include date.html %}</time>
            {% endif %}
            {% assign author = site.authors | where: 'title', post.author | first %}
            {% if author %}
            <span class="post__author">Av {{author.title}}</span>
            {% endif %}
          </small>
        </div>
      </div>
    </header>
    <div class="post__content link-body sr-up">
      <div class="grid__row">
        <div class="grid__col grid__col--tablet-8 grid__col--tablet-offset-1 grid__col--desktop-7 grid__col--desktop-offset-2 grid__col--widescreen-6 grid__col--desktop-offset-2">
          {% if post.tags %}
          <ul class="list list--tag">
            {% for tag in post.tags %}
            <li class="list__item">{{ tag }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {{ post.content }}
        </div>
      </div>
    </div>
    <footer class="post__footer">
      <div class="grid__row">
        <div class="grid__col grid__col--tablet-8 grid__col--tablet-offset-1 grid__col--desktop-6 grid__col--desktop-offset-2 grid__col--widescreen-6 grid__col--desktop-offset-2">
          {% if post.authors and post.guest_authors %}
          <ul class="list">
            {% for post_author in post.authors %}
            <li><span class="post__author">{{ post_author }}</span>
            {% endfor %}
            </li>
            {% for post_author in post.guest_authors %}
            <li><span class="post__author">{{ post_author }}</span></li>
            {% endfor %}
          </ul>
          {% elsif post.authors %}
          <ul class="list">
            {% for post_author in post.authors %}
            {% assign post_author_downcase = post_author | downcase %}
            {% for site_author in site.authors %}
            {% assign site_author_title = site_author.title | downcase %}
            {% if site_author_title == post_author_downcase %}
            <li><span class="post__author">{{ post_author }}</span> — {{ site_author.role | downcase }}</li>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </ul>
          {% elsif post.guest_authors %}
          <ul class="list">
            {% for post_author in post.guest_authors %}
            {% assign words = post_author | split: ' ' %}
            <li><span class="post__author">
            {% for word in words %}
            {{ word }}
            {% if forloop.index == 3 %}
            </span>
            {% endif %}
            {% endfor %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </footer>
  </article>
  {% if post.tags %}
  {% for tag in post.tags limit: 1 %}
  {% assign relatedtag = tag %}
  {% endfor %}
  {% assign posts = site.posts | where_exp: "post", "post.tags contains relatedtag" %}
  {% for post in posts limit: 2 %}
  {% unless post.url == page.url %}
  <div class="grid__row">
   <div class="grid__col grid__col--tablet-8 grid__col--tablet-offset-1 grid__col--desktop-7 grid__col--desktop-offset-2 grid__col--widescreen-6 grid__col--desktop-offset-2">
      <h3 class="page__title--section sr-left"><span>Läs även</span></h3>
    </div>
  </div>
  <div class="grid__row">
    <div class="grid__col grid__col--tablet-8 grid__col--tablet-offset-1 grid__col--desktop-7 grid__col--desktop-offset-2 grid__col--widescreen-6 grid__col--desktop-offset-2">
      <article class="related-post">
        <a class="thumb" href="{{post.url}}">
        {% if post.image contains '.jpg' %}
        <img src="{{post.image}}">
        {% else %}
        <!-- <img src="{{post.image}}"> -->
        {% endif %}
        </a>
        <div class="related-post__content">
          <div class="clearfix">
            <p class="related-post__meta">Läs även</p>
            <time class="related-post__date">{{ post.date | date: "%m/%d/%Y" }}</time>
          </div>
          <h3 class="related-post__title"><a href="{{post.url}}">{{ post.title }}</a></h3>
        </div>
      </article>
    </div>
  {% endunless %}
  {% endfor %}
  </div>
  {% endif %}
</div>